
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top {
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 90%;
  
}
.page {
  width: 120px;
  flex-direction: column;
  align-content: center;
  margin-left: 10px;
}
.h1pos{
  display:flex;
  height: 45px;
  width: 310px;
  margin-left: 300px;
  margin-bottom: 10px;
}
.h1, .navloc {
    display: flex;
    flex: wrap;
}
.navloc {
    margin-left: 100px;
}
ul {
    text-align: center;
}
li{
    display:flex;
    flex-direction: row;
    align-content: bottom;
    display: inline-block;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    line-height: em;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    display:block; 
}
.container {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 90%;
  height:80%;
  }
  .left {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 30px 20px 30px 20px;
}
  .left img {
  width: 100%;
  height: 300px;
}
.right {
width: 45%;
display: flex;
flex-direction: column;
align-items: flex-start;
margin: 30px 20px 30px 20px;
}
#home-page {
  margin: 0px 0px 0px 160px;
}
#aboutus-page {
    margin: 0px 0px 0px 200px;
}
#home-p {
  background-color: lemonchiffon;
  color: black;
  font-size:20px;
  font-style: italic;  
  padding: 10px 0px 30px 20px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
#recipes-p {
  background-color: lemonchiffon;
    color: black;
    font-size:20px;
    font-style: italic;  
    padding: 10px 0px 120px 20px;
    margin: 20px 0px 0px 0px;
    width: 100%;
}
#Hol_Seasons-p {
  background-color: lemonchiffon;
    color: black;
    font-size:20px;
    font-style: italic;  
    padding: 10px 0px 120px 20px;
    margin: 20px 0px 0px 0px;
    width: 100%;
}
#HealthyFoods-p {
  background-color: lemonchiffon;
  color: black;
  font-size:20px;
  font-style: italic;  
  padding: 10px 0px 120px 20px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
#aboutus-p {
    background-color: lemonchiffon;
    color: black;
    font-size:20px;
    font-style: italic;  
    padding: 10px 0px 50px 20px;
    margin: 20px 0px 0px 0px;
    width: 100%;
}
.right h1 {
  margin: 0px 0px 0px 140px;
}
.text1{
  background-color: lemonchiffon;
  color: black;
  font-size:20px;
  font-style: italic;  
  padding: 10px 0px 30px 20px;
  margin: 20px 0px 0px 0px;
  width: 100%;
}
.right img {
  margin-top: 40px;
  width: 100%;
  height: 300px;
  }
  footer {
    color:black;
    margin: auto;
    height: 40px;
    font-size: large;
    padding: 5px 0px 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 70%;
  }